{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Любимая доставка</title>
    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'css/main/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/core.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/colors.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/margin.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/padding.css' %}">
    
    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    
    {% block links %}{% endblock %}
    
</head>
<body>
    <!-- Header -->
    {% include 'header.html' %}
    <!-- Content -->
    <main>
        {% block content %}{% endblock %}    
    </main>

    <footer>
        <div class="content">
            <p class="h2 upper block semibold pt32 mb24">Вывоз строймусора</p>
            <p>
                Мусор продолжает оставаться одной из главнейших проблем, которые стоят перед человечеством. По этой причине мы часто вынуждены сталкиваться с необходимостью обеспечить вывоз строймусора Киев, который уже некуда девать. В подобном случае стоит обратиться в специальную компанию, которая занимается предоставлением подобных услуг. Вывоз строймусора в Киеве позволяет вам быстро и качественно избавиться от накопившихся последствий ремонта или возведения объекта. Важно помнить, что бытовые отходы можно утилизировать с помощью специальных баков, но решать вопрос строительного мусора таким образом запрещено. По этой причине вывоз мусора Киев является единственной возможностью избавиться от накопившихся материалов.
            </p>
        </div>
    </footer>
    {% block js %}{% endblock %}  
</body>
</html>