{% load static %}
<header>
    <div class="main">
        <div class="content">
            <div class="logo">
                <img src="{% static 'img/logo.png' %}" alt="logo">
                <div>
                    <span class="brand-name h3">Любимая доставка</span>
                    <span class="slogan h5">Везет же кому-то</span>
                </div>
            </div>
            <div class="working-time">
                <span class="h5 semibold">
                    С <span class="h3 color-3 semibold">8:00</span> ДО <span class="h3 color-1 semibold">20:00</span>
                </span>
                <span class="h5 semibold upper mt8">Ежедневно</span>
            </div>
        </div>
    </div>
    <div class="phones">
        <div class="content">
            <!-- Life -->
            <a href="">
                <div>
                    <img src="{% static 'img/ico/phone-life.png' %}" alt="life">
                </div>
                <span class="phone semibold">+38 (093) 000 00 00</span>
            </a>
            <!-- Kyivstar -->
            <a href="">
                <div>
                    <img src="{% static 'img/ico/phone-kyivstar.png' %}" alt="kyivstar">
                </div>
                <span class="phone semibold">+38 (098) 000 00 00</span>
            </a>
             <!-- Vodaphone -->
             <a href="">
                <div>
                    <img src="{% static 'img/ico/phone-vodaphone.png' %}" alt="vodaphone">
                </div>
                <span class="phone semibold">+38 (050) 000 00 00</span>
            </a>
            <!-- City -->
            <a href="">
                <div>
                    <img src="{% static 'img/ico/phone-city.png' %}" alt="city">
                </div>
                <span class="phone semibold">+38 (044) 000 00 00</span>
            </a>
        </div>
    </div>
</header>

