{% load static %}
{% load i18n %}
<!-- LINKS -->
{% block links %}
<link rel="stylesheet" href="{% static 'css/comment__form.css' %}">
<script src="https://unpkg.com/imask"></script>
{% endblock %}
<!-- CONTENT -->
{% block content %}
<div class="popup__outer comment_form_popup" id="comment_form_popup">
    <div class="popup__conteiner">
        <div class="comment_form__wrapper">
            <p class="h2 upper semibold center pt64 pb32">Оставьте отзыв</p>
          
            <!-- FORM -->
            <form class="form comment_form pb64" id="comment_form" enctype="multipart/form-data" method="post">

                <!-- NAME -->
                <p>
                    <label for="comment_form_first_name">Ваше имя</label>
                    <input class="h5" name="first_name" id="comment_form_first_name" type="text" placeholder="Ваше имя" data-alert='Введите Ваше имя' required>
                </p>
                <!-- PHHONE -->
                <p>
                    <label for="comment_form_first_name">Ваше имя</label>
                    <input class="h5" name="phone" id="comment_form_phone" type="text" placeholder="Ваш номер телефона" data-alert='Введите Ваш Телефон' data-error="Телефон имеет не верный формат" required>
                </p>
                <!-- SERVICE -->
                <p>
                    <label for="comment_form_services">Услуга</label>
                    <select name="service" id="comment_form_services" required>
                        {% for service in main_service %}
                            <option value="{{ service.slug }}">{{ service.name }}</option>
                        {% endfor %}
                    </select>
                </p>
                <!-- RATE -->
                <p>
                    <label for="comment_form_rate">Оценка</label>
                    <select name="rate" id="comment_form_rate" required>
                        <option value="5" selected>Отлично</option>
                        <option value="4">Хорошо</option>
                        <option value="3">Нормально</option>
                        <option value="2">Плохо</option>
                        <option value="1">Ужасно</option>
                    </select>
                </p>
                
                <!-- TEXT -->
                <p class="textarea col-1-3">
                    <textarea 
                    class="h5" id="review-text" name="comment" id="text" 
                    data-alert='Напишите пару слов о товаре'
                    placeholder="Несколько слов о товаре..." required></textarea>
                </p>
                <p class="h6 grey col-1-3">{% trans 'Публичная оферта' %}</p>
                <!-- SUBMIT -->
                <button class="col-1-3 h5 upper comment_confirm" type="submit">{% trans 'Отправить' %}</button>
            </form>
        </div>
    </div>
</div>



<script>
    let commentForm = document.getElementById("comment_form");
    let preloader = document.getElementById('comment__preloader')
    let comments = document.querySelector('.comments_list')
    let formWrapper = document.querySelector('.comment_form__wrapper') 
    commentForm.addEventListener('submit', function(event) {
        event.preventDefault();
        // preloader.style.visibility = 'visible'
        
        formData = new FormData(commentForm);
        

        var xhr = new XMLHttpRequest();
            xhr.open("POST", "{% url 'core:comment'%}", false);
            xhr.setRequestHeader("X-CSRFToken",  getCookie('csrftoken') );
            xhr.onload = function(oEvent) {
                if (xhr.status == 200) {
                    let response = JSON.parse(xhr.responseText);
                    comments.innerHTML = response['html'] + comments.innerHTML
                    formWrapper.innerHTML = '<p class="h1 bold green center upper pt64 pb64">Спасибо, Ваш комментарий отправлен</p>'
                    
                } else {
                    alert('Что-то пошло не так 😞')
                }
            };

            commentForm.style.filter = 'blur(4px)';
            commentForm.style.pointerEvents =  'none';

            xhr.send(formData);
            
    }, false);

    var element = document.querySelector('input[name=phone]');
    var maskOptions = {
        mask: '+{38} (000) 000-00-00',
        lazy: false,
    };
    var mask = IMask(element, maskOptions);
</script>

{% endblock %}
